/* NAVBAR */
.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #0f172a;
  color: #e5e7eb;

  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  z-index: 1000;
}

/* LOGO WITH SMOOTH HOVER */
.logo {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: color 0.35s ease, transform 0.25s ease;
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo:hover {
  color: #38bdf8;
  /* transform: translateY(-1px); */
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 38px;
}

.nav-links a {
  text-decoration: none;
  color: #e1e6f5;
  font-weight: 500;
  position: relative;
  transition: 0.25s ease;
}

/* underline animation */
.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}




.nav-links a:hover {
  color: #38bdf8;
}

/* ================= HAMBURGER ================= */

.hamburger {
  width: 28px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: #e5e7eb;
  border-radius: 3px;
  transition: all 0.4s ease;
}

/* ANIMATION TO X */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;

    width: 70%;
    max-width: 260px;

    background: #1e293b;
    border-left: 1px solid rgba(255,255,255,0.08);

    flex-direction: column;
    padding: 25px;
    gap: 22px;

    border-radius: 12px 0 0 12px;
    box-shadow: -5px 0 20px rgba(0,0,0,0.25);

    transition: right 0.4s ease-in-out;
  }

  .nav-links.active {
    right: 0;
  }

  .hamburger {
    display: flex;
  }
}